.cdk-virtual-scroll-viewport {
  height: 78vh !important;
}

thead > tr > .table-th,
tbody > tr > .table-td {
  text-align: center;
}

thead > tr > .table-th {
  background-color: #001529;
  color: white;
}

.table-count {
  float: right;
  margin: 12px 0;
}
